body {
	font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 16.4px;	
}

#mapid { 
	height: 600px; 
	width: 600px;
	float: left;
}

#vehicleList {
}

#positionData {
    background-color: #ddd;
	overflow:auto; 
	height:600px;
	margin-left: 650px;
	padding-left: 3px;
	width: 300px;
}

.vehicleInfo {
	margin-left: 20px;
}

#reports {
	list-style: none;	
}

#reports li {
	list-style: none;	
	margin-bottom: 25px;
}

.checkboxDiv {
	float: left;
	margin-top: -5x;
}

#dev {
	background-color: #ccc;
	padding: 10px;
	margin-top: 10px;
	width: 950px;
	font-size: 1.1em;
	border: 1px solid red;
}

.alarm {
    border: 2px solid red;
    padding: 20px;
    background: lightblue;
    width: 650px
}
