
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Last seen</th>
      <th scope="col">Speed mph</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let vehicle of vehicles">
      <th scope="row"><span class="fa fa-truck"></span>{{vehicle.name}}</th>
      <td>{{vehicle.dateAndTime | date:'HH:mm:ss'}}</td>
      <td>{{vehicle.speed | number:'0.0-0'}}</td>
    </tr>
  </tbody>
</table>

<!--
<div class="container">
<div class="row">
    <div class="col-xs-12" style="">
        <div class="panel panel-default list-group-panel">
            <div class="panel-body">
                <ul class="list-group list-group-header">
                    <li class="list-group-item list-group-body">
                        <div class="row">
                            <div class="col-xs-6 text-left">Name</div>
                            <div class="col-xs-3">Size</div>
                            <div class="col-xs-3">Modified</div>
                        </div>
                    </li>
                </ul>
                <ul class="list-group list-group-body" style="">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-6 text-left" style=" "> <a><span class="fa fa-truck" aria-hidden="true"></span> App Icon </a> </div>
                            <div class="col-xs-3" style="">...</div>
                            <div class="col-xs-3" style="">...</div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-6 text-left" style=" "> <a><span class="glyphicon glyphicon-file" aria-hidden="true"></span> App Icon </a> </div>
                            <div class="col-xs-3" style="">...</div>
                            <div class="col-xs-3" style="">...</div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-6 text-left" style=" "> <a><span class="glyphicon glyphicon-file" aria-hidden="true"></span> App Icon </a> </div>
                            <div class="col-xs-3" style="">...</div>
                            <div class="col-xs-3" style="">...</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>
-->

<!--
   <div *ngFor="let vehicle of vehicles">
     <div class="checkboxDiv">
        <input type='radio' name='vehicle' checked="checked"/>
     </div>

     <div class="vehicleInfo">
       <p><strong>{{vehicle.name}}</strong></p>
       <p>[{{vehicle.lat}},{{vehicle.lng}}] at {{vehicle.dateAndTime}}</p>
       <p>Speed: {{vehicle.speed}}</p>
     </div>
  </div>
  <div>
    <div class="checkboxDiv">
      <input type='radio' name='vehicle' checked="checked"/>
    </div>
    <div class="vehicleInfo">
      <p><strong>Test Vehicle</strong></p>
      <p>[1,0] at 12pm</p>
      <p>Speed: 5mph</p>
    </div>
  </div>
-->
