
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-1">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Fleet Management System R2b</a>
  <ul class="navbar-nav flex-row">
    <li class="nav-item">
      <a class="nav-link p-2" href="https://github.com/DickChesterwood/k8s-fleetman">
        <fa-icon [icon]="faGithub"></fa-icon>        
      </a>
    </li>
    <li>
      <a class="nav-link p-2" href="http://blog.chesterwood.io">
        <fa-icon [icon]="faRss"></fa-icon>        
      </a>    
    </li>
  </ul>
</nav>
